{% load i18n %}
<footer class="container">
    <div class="row links">
        {% if not user.is_authenticated %}
            <form id="locale_switcher" method="POST" action="{% url 'localeurl_change_locale' %}">
                {% csrf_token %}
                <label>
                    <select name="locale" onchange="$('#locale_switcher').submit()">
                        {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}"
                                    {% ifequal lang.0 LANGUAGE_CODE %}selected="selected"{% endifequal %}>{{ lang.1 }}</option>
                        {% endfor %}
                    </select>
                </label>
                <noscript>
                    <input type="submit" value="Set"/>
                </noscript>
            </form>
        {% endif %}
        <ul>
            <li class="current-version">
                <i class="glyphicon glyphicon-globe"></i> {% trans 'Currently in beta' %}
            </li>
            <li class="current-version">
                <i class="glyphicon glyphicon-copyright-mark"></i> 2014 <a
                    href="http://www.uqac.ca/lif/">{% trans "Laboratoire d'Informatique Formelle" %}</a>
            </li>
        </ul>
    </div>
</footer>