{% extends 'base.jinja2' %}

{% block content %}
    <ul>
        {% for probe in probes %}
            <li>{{ probe.name }}
            <ul>
                <li>{{ probe.description }}</li>
                <li>{{ probe.minified }}</li>
                <li>{{ probe.url }}</li>
            </ul>
            </li>

        {% endfor %}
    </ul>
{% endblock %}