# custom unversionned files
probe_project/settings/local.py
var/media/
var/static/

# project files
temp
build
node_modules
.sass-cache

# We work in local_static; run ./manage.py collectstatic to generate this folder
static

*.pyc
*.~

