# custom unversionned files
probe_project/settings/local.py
probe_project/uploads/
probe_project/static/

# project files
temp
build
node_modules
.sass-cache

# We work in local_static; run ./manage.py collectstatic to generate this folder
static

*.pyc
*.~
.idea/

bin/
lib/
doc/
*.jar
*.sqlite
