{% load i18n bootstrap %}
<div class="register">

    <h3>{% trans 'Register, or' %} <a href="{% url 'userena_signin' %}">{% trans 'Log in' %}</a></h3>

    <div class="row">
        {% include 'userena/include/social_login_buttons.html' %}
    </div>
    <div class="login-or">
        <span class="span-or">{% trans 'or' %}</span>
    </div>

    <form role="form" class="form" action="{% url 'userena_signup' %}" method="POST">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button type="submit" class="btn btn btn-primary">
            {% trans 'Register' %}
        </button>
    </form>

</div>