{% load static %}

<link rel="stylesheet" href="{% static "css/fiddle/fiddle.css" %}">


<div id=editorContainer>
  <div id=editorDropupContainer>
    <div id=editorDropup>
      <button id=editorYellowButton class="glyphicon glyphicon-triangle-top" type=button></button>
      <div id=editorPropertyMetadata>
        <table>
          <tr>
            <td>
              <span class="glyphicon glyphicon-ban-circle"></span>
            </td>
            <td>
              <input type=text value="Description of metadata"/>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-registration-mark"></span>
            </td>
            <td>
              <input type=text value="Category"/>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div id=editorTextArea>
    <textarea id=editorContent class=form-control></textarea>
  </div>
</div>