{% load static %}

<link rel="stylesheet" href="{% static "css/fiddle/fiddle.css" %}">
<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bower_components/jquery-ui/jquery-ui.js" %}"></script>
<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

<div class="editorContainer">
    <div class="editorDropupContainer">
        <div class="editorDropup">
            <button class="editorYellowButton glyphicon glyphicon-triangle-top" type=button></button>
            <div class="editorPropertyMetadata">
                <table>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </td>
                        <td>
                            <input class="form-control" type=text value="Description of metadata"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-registration-mark"></span>
                        </td>
                        <td>
                            <input class="form-control" type=text value="Category"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="editorTextArea">
        <textarea id="{{ id }}" class="editorContent form-control" rows="5" name="{{ name }}">{{ text }}</textarea>
    </div>
</div>