{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Sensors' %}</h1>
    {% if sensors == None %}
        {% for sensor in sensors %}
            {% include 'probe_dispatcher/include/sensor.html' %}
        {% endfor %}
    {% else %}
        <p>{% trans 'You have no sensors yet, create one now!' %}</p>
    {% endif %}
    <a href="{% url 'sensor_form' %}" class="btn btn-block btn-primary"><i class="fa fa-plus-circle"></i> {% trans 'Create a new sensor' %}</a>
{% endblock %}