@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  background: #0b1419 url("../img/space-background.jpg") no-repeat top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

p {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

header.container .navbar-inverse {
  background-color: rgba(30, 30, 30, 0.6);
}
header.container.home {
  margin-top: 200px;
}
header.container .navbar-brand {
  padding: 11px 15px;
}

.mugshot {
  border-radius: 3px;
}

.container {
  margin-top: 20px;
}
.container .content {
  margin-left: 10px;
}
.container .content h1 {
  margin-top: 10px;
  font-size: 60px;
}
.container .content h1 .smaller {
  font-size: 40px;
  color: #c2e8f2;
}
.container .content .lead {
  font-size: 25px;
  color: #c2e8f2;
}
.container .content .lead .font-normal {
  color: #ffffff;
}

footer .links {
  float: right;
  right: 0;
  margin-top: 125px;
}
footer .links ul {
  display: block;
  padding: 0;
  margin: 0;
}
footer .links ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
footer .links ul li:first-child {
  margin-left: 0;
}
footer .links ul li:last-child {
  margin-right: 0;
}
footer .links ul li.current-version, footer .links ul li.copyright {
  color: #c2e8f2;
  font-weight: 400;
}
footer .links ul li a {
  color: #ffffff;
}
footer .links ul li a:hover {
  text-decoration: underline;
}
footer .links ul li .icon-muted {
  color: #88e5eb;
  margin-right: 5px;
}
footer .links ul li:hover .icon-muted {
  color: #ffffff;
}

.panel {
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
  margin-top: 0;
}

footer {
  padding-bottom: 10px;
  padding-top: 10px;
}

.align-center {
  text-align: center;
  margin: 0 auto;
}

.btn-google {
  background-color: #0266C8;
  color: white;
}
.btn-google:hover {
  color: white;
  background-color: #014c96;
}

.btn-facebook {
  background-color: #3B5998;
  color: white;
}
.btn-facebook:hover {
  color: white;
  background-color: #2d4373;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(0, 0, 0, 0.3);
}

.panel-default > .panel-heading {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.8);
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.login, .register {
  max-width: 360px;
  margin: 0 auto;
}
.login .login-or, .register .login-or {
  position: relative;
  color: #aaa;
  margin-bottom: 10px;
  padding-top: 12px;
}
.login .span-or, .register .span-or {
  display: block;
  background-color: rgba(10, 18, 23, 0.4);
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #1c3b48;
  border-top: 1px solid #1c3b48;
}
.login h3, .register h3 {
  text-align: center;
  line-height: 300%;
}

@media (max-width: 1200px) {
  header.container.home {
    margin-top: 80px;
  }

  .container .content h1 {
    font-size: 45px;
  }

  .container .content h1 .smaller {
    font-size: 30px;
  }

  .container .content .lead {
    font-size: 20px;
  }
}
@media (max-width: 990px) {
  .container.home {
    margin-top: 80px;
  }

  .container .logo {
    margin: 40px auto;
  }

  .container .content {
    margin-left: 0;
    text-align: center;
  }

  .container .content h1 {
    margin-bottom: 20px;
  }

  .container .links {
    float: none;
    text-align: center;
    margin-top: 60px;
  }

  .container .copyright {
    float: none;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .navbar-right > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .container .content h1 .smaller {
    font-size: 25px;
    display: block;
  }

  .container .content .lead {
    font-size: 16px;
  }

  .container .links {
    margin-top: 40px;
  }

  .container .links ul li {
    display: block;
    margin: 0;
  }

  .container .links ul li .icon-muted {
    display: none;
  }

  .container .copyright {
    margin-top: 20px;
  }
}


/* Ajout d'élément du dashboard */
/* Définition de la classe .border-radius avec un paramètre */
.dashboard_table {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 100%;
}
.dashboard_table_name {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.dtm_left {
  position: absolute;
  top: 1em;
  left: 1%;
  width: 18%;
}
.dtm_right {
  position: absolute;
  top: 1em;
  right: 1%;
  width: 18%;
}
.panel_dashboard {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.panel .max_width {
  width: 100%;
}
.panel_dashboard > .left_halt,
.right_halt {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
  width: 49%;
  padding: 1rem;
  margin-bottom: 1rem;
  background: rgba(105, 105, 105, 0.3);
}
.right_halt > div {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.left_halt > div {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  padding: 1rem;
  margin-bottom: 1rem;
}


/**/

/*# sourceMappingURL=theme.css.map */
