.editorContent {
    background: #fff;
    width: 100%;
    /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    margin: 0 auto;
    resize: vertical;
}

.editorTextArea {
    position: relative;
    width: 100%;
    text-align: left;
}

.editorContainer {
    width: 100%;
    height: auto;
    text-align: center;
}

div.editorContainer div.btn-group.pull-right{
    position:absolute;
    top: -13%;
    right: 0;
}

div.btn-group.pull-right button {
    color: black;
}

.fiddleEditor{
    z-index: 10;
    position: relative;
}

.editorDropupContainer {
    width: 200px;
    display: inline-block;
    position: absolute;
}

.editorDropup {
    position: relative;
    left: -50%;
    top: -20px;
    z-index: -1;
}

.editorPropertyMetadata {
    position: relative;
    display: inline-block;
}

.editorYellowButton {
    background: yellow;
    -webkit-border-radius: 5px;
    width: 100px;
    height: 20px;
    position: relative;
    color: black;
}

.glyphicon {
    color: black;
}

a.startingrule {
    background-color: rgb(255,150,150);
    position: absolute;
    color: blue;
    border-style: dotted;
    border-color: red;
    z-index:2;
    display: block;
}

a.rulebutton {
    cursor: pointer;
    cursor: hand;
}
.ruletoolbar {
    width: 100%;
    position: relative;
    display: none;
}