<footer class="container">
    <div class="row links">
        <ul>
            <li class="current-version"><i
                    class="glyphicon glyphicon-info-sign icon-muted"></i>{{ _('Currently in beta') }}
            </li>
        </ul>
    </div>
</footer>