{% load i18n %}
<div class="panel">
    <div class="pull-right">
        <a href="{% url 'probe_add_corni' probe_id=probe.id %}" class="btn btn-default "><i class="fa fa-plus"></i> {% trans 'Add' %}</a>
        <a href="{% url 'probe_edit' probe_id=probe.id %}" class="btn btn-default "><i class="fa fa-pencil"></i> {% trans 'Edit' %}</a>
        <a href="{% url 'probe_delete' probe_id=probe.id %}" class="btn btn-default "><i class="fa fa-trash"></i> {% trans 'Delete' %}</a>
    </div>
    <h2>{% trans probe.name %}</h2>

    <p>{% trans probe.description %}</p>

    <p>{% trans 'Domain: ' %}<span class="label label-info">{{ probe.domain }}</span></p>
    {% if probe.sensors %}
        {% trans 'Enabled sensors:' %}
        <ul>
            {% for sensor in probe.sensors.all %}
                <li><a class="spoiler-trigger" href="#probe{{ probe.id }}sensor{{ sensor.id }}" data-toggle="collapse">{{ sensor.name }}</a></li>
                <div class="panel-collapse collapse out" id="probe{{ probe.id }}sensor{{ sensor.id }}">
                    <div class="panel-body">
                        <pre><code class="nohighlight">{% trans sensor.code|linebreaks %}</code></pre>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    {% if probe.is_enabled %}
        <p class="fa fa-check"> {% trans 'This probe is enabled' %}</p>
    {% else %}
        <p class="fa fa-close"> {% trans 'This probe is disabled' %}</p>
    {%  endif %}
    <p><a href="{{ probe.probe_url|safe }}" target="_blank"><i class="fa fa-file"></i> {% trans 'Rendered javascript' %}</a></p>
    <p><a href="{% url 'probe_test' probe_hash=probe.hash probe_id=probe.id %}" target="_blank"><i class="fa fa-eye"></i> {% trans 'Live example' %}</a></p>
    <p>{% trans 'Embeded code' %}</p>
    <pre class="highlight"><code class="html">{{ probe.get_script_tag }}</code></pre>
</div>