{% load i18n %}
<div class="panel">
    <div class="pull-right">
        <a href="{% url 'sensor_edit' sensor_id=sensor.id %}" class="btn btn-default "><i class="fa fa-pencil"></i> {% trans 'Edit' %}</a>
        <a href="{% url 'sensor_delete' sensor_id=sensor.id %}" class="btn btn-default "><i class="fa fa-trash"></i> {% trans 'Delete' %}</a>
    </div>
    <h2>{% trans sensor.name %}</h2>

    <p>{% trans 'Code:' %}</p>
    <pre><code class="nohighlight">{% trans sensor.code|linebreaks %}</code></pre>
</div>