{% extends 'userena/base_userena.html' %}
{% load i18n bootstrap %}
{% load url from future %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<form class="form" action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Change email address" %}</legend>
    {{ form|bootstrap }}
  </fieldset>
  <input class="btn btn-primary" type="submit" value="{% trans "Change email" %}" />
</form>
{% endblock %}
