{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Dashboard' %}</h1>
    {% if datums != None %}

        <div class="panel">
            <table style="width:100%">
                <tr>
                    <th>{% trans Domain %} Domaine</th>
                    <th>{% trans OS %} OS</th>
                    <th>{%  trans Language %}Language</th>
                    <th>{% trans Time %} Time</th>
                    <th>{% trans Action %} Action</th>
                </tr>
                {% for datum in datums %}
                    {% include 'dashboard/include/datum.html' %}
                {% endfor %}
            </table>
        </div>

    {% else %}
        <p>{% trans 'You have no notification yet !' %}</p>
    {% endif %}
{% endblock %}