{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Datum details' %}</h1>
        <div class="panel">
        <table class="table_dashboard">
            <tr>
                <th> {% trans "Web Browser" %}</th>
                <th>{% trans "Operating System " %}</th>
            </tr>
            <tr>
                <td style="padding-left:2em">{{ user_agent.browser.family }} " " {{ user_agent.browser.version_string }} </td>
                <td> {{ user_agent.os.family}} " " {{ user_agent.os.version_string}}</td>
            </tr>
            <tr>
                <th> {% trans "Is touch Capable" %}</th>
                <th> {% trans "Is Bot" %}</th>
            </tr>
            <tr>
                <td>{{ user_agent.is_touch_capable }}</td>
                <td>{{ user_agent.is_bot }}</td>
            </tr>
        </table>
        </div>
{% endblock %}